<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default suite" >

  <test name="Test-method test" group-by-instances="true" >
    <classes>
      <class name="home.sample"/>
    </classes>
  </test> <!-- Default test -->
   
  
</suite> <!-- Default suite -->
